<%-include('../template_head') %>
<body>
  <div id="wrap">
    <%-include('../header') %>
    <!-- //헤더 -->
    <%-include('./index_cont') %>
    <!-- //컨텐츠 -->
  </div>
  <%-include('../footer') %>
  <!-- //푸터 -->

  <%-include('../menu_side') %>
  <!-- //사이드 메뉴 바 구현 -->
  <script src="/js/main.js"></script>
</body>
</html>
